

<!-- wp:heading -->
<h2 id="listen">Listen</h2>
<!-- /wp:heading -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:embed {"url":"{{{mixcloud_url}}}","type":"rich","providerNameSlug":"mixcloud","responsive":true,"className":"wp-embed-aspect-21-9 wp-has-aspect-ratio"} -->
<figure class="wp-block-embed is-type-rich is-provider-mixcloud wp-block-embed-mixcloud wp-embed-aspect-21-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
{{{mixcloud_url}}}
</div><figcaption>DJ mix only – no talking</figcaption></figure>
<!-- /wp:embed --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column">
{{#mixcloud_url_r1}}
<!-- wp:embed {"url":"{{{mixcloud_url_r1}}}","type":"rich","providerNameSlug":"mixcloud","responsive":true,"className":"wp-embed-aspect-21-9 wp-has-aspect-ratio"} -->
<figure class="wp-block-embed is-type-rich is-provider-mixcloud wp-block-embed-mixcloud wp-embed-aspect-21-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
{{{mixcloud_url_r1}}}
</div><figcaption>Radio show (with voice breaks)</figcaption></figure>
<!-- /wp:embed --></div>
{{/mixcloud_url_r1}}
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:heading -->
<h2 id="tracklist">Tracklist</h2>
<!-- /wp:heading -->

<!-- wp:list {"ordered":true} -->
{{{tracklistHtml}}}
<!-- /wp:list -->

<!-- wp:separator -->
<hr class="wp-block-separator"/>
<!-- /wp:separator -->

<!-- wp:paragraph -->
<p><strong>Beats Reality</strong>&nbsp;is a celebration of abstract electronic beats.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Haszari throws down a mix each week, centered on timeless techno and house – and weaving in sounds from the periphery of ambient, electro, breakbeat, and minimal.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><a href="https://www.r1.co.nz/programme/wednesday/beatsreality">Listen live on&nbsp;<strong>Radio 1 91 FM Dunedin</strong></a>&nbsp;–&nbsp;<em>Wednesdays, 11pm NZT</em>(UTC+12), on air or&nbsp;<a href="https://www.r1.co.nz/streaming"><strong>live stream</strong></a>.&nbsp;</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Or listen any time on&nbsp;<strong>Mixcloud</strong>. Show is available in 2 formats:</p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><li><a href="https://www.r1.co.nz/programme/wednesday/beatsreality">with voice breaks, on Radio 1 Mixcloud</a></li><li><a href="https://www.mixcloud.com/haszari/">DJ mix only (no talking) on Haszari’s Mixcloud</a></li></ul>
<!-- /wp:list -->